<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/menu.css" />
    <link rel="stylesheet" type="text/css" href="/styles/my_ordered.css" />
    <link rel="stylesheet" type="text/css" href="/styles/detail.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- socket.io -->
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
</head>

  <body>
    <div class="top-container">
      <h1>Menu</h1>
      <!--search bar-->
      <div class="search-bar">
        <input type="text" class="type-search" placeholder="SEARCH" onkeyup="searchsomething(this)" id="tet_search"/>
      </div>
      <!--search bar-->

      <!--my order-->
      <div class="my-order" onclick="openCart()">
        <div class="nav-cart">
          <i class="fas fa-cart-shopping" style="color: #ea5b1e"></i>
          <div class="item-count" id="cartcount">
            <p>0</p>
          </div>
        </div>
        <div class="my-order-text">
          <p>My Order</p>
        </div>
        <div class="customer-info">
          <!-- <p id="customer-name">No. 4</p> -->
          <p id="customer-name">Game</p>
        </div>
      </div>
    </div>
    <!--my order-->

    <!--nav bar-->
    <nav class="category">
      <div class="nav-content">
        <ul>
          <li><a onclick="searchproduct('all')" href="#">All</a></li>
          <li><a onclick="searchproduct('stir-fry')" href="#">Stir-fry</a></li>
          <li><a onclick="searchproduct('curry')" href="#">Curry</a></li>
          <li><a onclick="searchproduct('spicy-salad')" href="#">Spicy-salad</a></li>
          <li><a onclick="searchproduct('soup')" href="#">Soup</a></li>
          <li><a onclick="searchproduct('drinks')" href="#">Drinks</a></li>
          <li><a onclick="searchproduct('fry')" href="#">Fry</a></li>
          <li><a onclick="searchproduct('snacks')" href="#">Snacks</a></li>
          <li><a onclick="searchproduct('dessert')" href="#">Dessert</a></li>
          <li><a onclick="searchproduct('other')" href="#">Other</a></li>
        </ul>
      </div>
    </nav>
    <!--nav bar-->

    <!--menu-->
    <div class="menu-container" id="productlist">
      <!-- in js -->
    </div>
    <!--menu-->

    <!-- detail -->
    <div id="fooddetail" class="food-detail" style="display: none;">
      <div class="close">
        <i class="fas fa-times" onclick="closefooddetail()"></i>
      </div>
      <div class="food-img">
        <img id="mdd-img" src="" alt="stir-fry-basil">
      </div>
        <div class="title-box">
            <p id="name">Stir-fried basil with rice</p>
            <p id="price">50</p>
        </div>
        <div class="description-box">
            <p>Add-on</p>
            <ul id="addon">
                <!-- in js -->
            </ul>
        </div>
        <!-- <div>
          <input id="addnote" type="text">
        </div> -->
        <div class="button-box">
            <button class="button-box" id="place-order" onclick="addtocart()">Place Order</button> 
        </div>
    </div>
    <!-- detail -->

    <!-- cart -->
    <div id="cart" class="cart" style="display: none;">
      <!-- HEAD CONTAINER -->
      <div class="head-container">
        <div class="head" onclick="closeCart()">
            <i  class="fa-solid fa-x" alt="close" style="width: 20px; height: 20px;" ></i>
        </div>
      </div>

      <div class="head">
          <h1>My Ordered</h1>
      </div>

      <!-- ORDERED LIST -->
      <div class="ordered-container">
          <div id="mylist">
            <!-- JS -->
          </div>
      <div class="total-container">
          <div class="total">
              <h2>TOTAL</h2>
          </div>
          <div class="total-price">
              <h2>0</h2>
          </div>
        </div>
      <div class="pay-container" onclick="SendToRes()">
          <h1 class="send">Send</h1>
      </div>
    </div>
    <!-- cart -->

  </body>

  <script>
      const socket = io.connect('http://localhost:8000');
      const customerNameElement = document.getElementById('customer-name');
      // check if customer name is not number
      const cus_localStorage = localStorage.getItem("cus");
      if(isNaN(cus_localStorage)){
        customerNameElement.textContent = cus_localStorage;
      }
      else{
        customerNameElement.textContent = "No. " + cus_localStorage;
      }
      
      const product = [
                        {
                          id: 1,
                          img: 'images/Thai-Omelette-HP-191008.jpg',
                          name: 'Omelet',
                          price: 50,
                          type: 'fry',
                          AddOn: ['Egg', 'Onion', 'Tomato', 'Chili', 'Salt', 'Pepper', 'Rice']
                        },
                        {
                          id: 2,
                          img: 'images/fried-chicken.jpg',
                          name: 'Fried Chicken',
                          price: 60,
                          type: 'fry',
                          AddOn: ['Chicken', 'Salt', 'Pepper', 'Oil']
                        },
                        {
                          id: 3,
                          img: 'images/stir-fry-with-curry.jpg',
                          name: 'Stir fry with curry',
                          price: 70,
                          type: 'stir-fry',
                          AddOn: ['Chicken', 'Salt', 'Pepper', 'Oil', 'Curry']
                        }
                      ];

      $(document).ready(() => {
        var html = '';
        for (let i = 0; i < product.length; i++) {
            html += ` <div onclick="openProductDetail(${i})" class="menu-items ${product[i].type}">
                        <img class="menu-img" src="${product[i].img}" alt="${product[i].name}"/>
                        <p style="font-size: 4vw">${product[i].name}</p>
                        <div class="price">
                          <p style="font-size: 3.5vw">${numberWithCommas(product[i].price)}</p>
                        </div>
                      </div>`;
        }
        $("#productlist").html(html);
      })

      function numberWithCommas(x) {
        x = x.toString();
        var pattern = /(-?\d+)(\d{3})/;
        while (pattern.test(x))
            x = x.replace(pattern, "$1,$2");
        return x;
      }

      function searchsomething(elem) {
        var value = $('#'+elem.id).val();
        var html = '';
        for (let i = 0; i < product.length; i++) {
          var name = product[i].name.toLowerCase();
          if (name.includes(value.toLowerCase())){
            html += ` <div onclick="openProductDetail(${i})" class="menu-items ${product[i].type}">
                        <img class="menu-img" src="${product[i].img}" alt="${product[i].name}"/>
                        <p style="font-size: 4vw">${product[i].name}</p>
                        <div class="price">
                          <p style="font-size: 3.5vw">${numberWithCommas(product[i].price)}</p>
                        </div>
                      </div>`;
          }
        }
        if(html == '') {
              $("#productlist").html(`<p>Not found product</p>`);
        } else {
            $("#productlist").html(html);
        }
      }

      function searchproduct(param) {
        $(".menu-items").css('display', 'none')
        if(param == 'all') {
            $(".menu-items").css('display', 'block')
        }
        else {
            $("."+param).css('display', 'block')
        }
      }

      function hide_show_EverythingExceptDetail(P) {
        var top_container = document.getElementsByClassName("top-container")[0];
        var my_order = document.getElementsByClassName("my-order")[0];
        var nav = document.getElementsByTagName("nav")[0];
        var menu_container = document.getElementsByClassName("menu-container")[0];
        if(P == 'hide') {
          top_container.style.display = "none";
          my_order.style.display = "none";
          nav.style.display = "none";
          menu_container.style.display = "none";
        }
        else {
          top_container.style.display = "";
          my_order.style.display = "";
          nav.style.display = "";
          menu_container.style.display = "";
        }
      }

      var productindex = 0;
      function openProductDetail(index) {
          productindex = index; 
          // Hide everything except the detail element
          hide_show_EverythingExceptDetail('hide');
          // Get references to the HTML elements
          var foodDetail = document.getElementById("fooddetail");
          var nameElement = document.getElementById("name");
          var priceElement = document.getElementById("price");
          var imgElement = document.getElementById("mdd-img");
          var addOnElement = document.getElementById("addon");
          // Populate the details based on the selected product
          if (index >= 0 && index < product.length) {
              imgElement.src = product[index].img;
              nameElement.textContent = product[index].name;
              priceElement.textContent = product[index].price;
              for(let i = 0; i < product[index].AddOn.length; i++) {
                var li = document.createElement("li");
                var input = document.createElement("input");
                input.setAttribute("type", "checkbox");
                input.setAttribute("name", "addon");
                input.setAttribute("value", product[index].AddOn[i]);
                li.appendChild(input);
                li.appendChild(document.createTextNode(product[index].AddOn[i]));
                addOnElement.appendChild(li);
              }
          }
          // Show the food detail element
          foodDetail.style.display = "block";
      }

      function closefooddetail() {
        var foodDetail = document.getElementById("fooddetail");
        foodDetail.style.display = "none";
        var li = document.querySelectorAll("#addon li");
        for(let i = 0; i < li.length; i++) {
          li[i].remove();
        }
        hide_show_EverythingExceptDetail('show');
      }

      var cart = [];
      function addtocart(){
        alert("Add to cart successfully");
        var pass = true;
          for (let i = 0; i < cart.length; i++) {
              if( productindex == cart[i].index ) {
                  cart[i].count++;
                  pass = false;
              }
          }
          if(pass) {
            var checkbox_addon = document.querySelectorAll("#addon input");
            var addon = [];
            for(let i = 0; i < checkbox_addon.length; i++) {
              if(checkbox_addon[i].checked) {
                addon.push(checkbox_addon[i].value)
                console.log(checkbox_addon[i].value)
              }
            }
            var obj = {
                index: productindex,
                id: product[productindex].id,
                name: product[productindex].name,
                price: product[productindex].price,
                img: product[productindex].img,
                addon: addon,
                count: 1
            };
            // console.log(obj)
            cart.push(obj)
        }
        // console.log(cart)
        $("#cartcount").css('display','flex').text(cart.length)
      }

      function openCart() {
        $('#cart').css('display','block')
        hide_show_EverythingExceptDetail('hide');
        rendercart();
      }

      function rendercart(){
        if(cart.length > 0){
          var html = '';
              for (let i = 0; i < cart.length; i++){
                  html += ` <div class="ordered-list">
                            <img src="${cart[i].img}" style="width: 110px; height: 70px;">
                            <div class="detail">
                                <div class="food-name">
                                    <p>${cart[i].name}</p>
                                </div>           
                                <div class="price">
                                    <p>${numberWithCommas(cart[i].price * cart[i].count)}</p>
                                </div>
                                <div class="add-ons">
                                  <p>${cart[i].addon}</p>
                                </div>
                                <!-- <div class="toppings">
                                  <p>minced pork</p>
                                </div> -->
                            </div>
                            <div class="updown-count">
                              <p class="sign" onclick="deinitems('-', ${i})">-</p>
                              <p id="countitems">${cart[i].count}</p>
                              <p class="sign" onclick="deinitems('+', ${i})">+</p>
                            </div>
                            </div>`
              }
              $("#mylist").html(html);
              var total = 0;
              for (let i = 0; i < cart.length; i++) {
                  total += cart[i].price * cart[i].count;
              }
              const totalPriceElement = document.querySelector('.total-price h2');
              totalPriceElement.textContent = numberWithCommas(total.toFixed(2));
        }
        else {
          $("#mylist").html(`<p>Not found product</p>`);
        }
      }

      function closeCart() {
        $('#cart').css('display','none')
        hide_show_EverythingExceptDetail('show');
      }

      function deinitems(action, index) {
        if(action == '-') {
            if(cart[index].count > 0) {
                cart[index].count--;
                $("#countitems"+index).text(cart[index].count)
            }
              if (cart[index].count <= 0) {
                  var confirm_delete = confirm("Do you want to delete this item?");
                  if (confirm_delete) {
                      cart.splice(index, 1);
                  }
                  else {
                      cart[index].count = 1;
                  }
              }
        }
        else if(action == '+') {
            cart[index].count++;
            $("#countitems"+index).text(cart[index].count)
        }
        rendercart();
      }

      function SendToRes(){
        if(cart.length > 0){
          const text = customerNameElement.textContent;
          // set customer variable for send to restaurant
          const cus = text;
          console.log(cus)
          console.log(cart)
          socket.emit('order', {customer: cus, cart: cart});
          alert("Send to restaurant successfully");
        }
        else{
          alert("Please add some items to your cart")
        }
      }
  </script>
</html>
