<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/menu.css" />
    <link rel="stylesheet" type="text/css" href="/styles/my_ordered.css" />
    <link rel="stylesheet" type="text/css" href="/styles/detail.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="/script/menu.js"></script>
</head>

  <body>
    <div class="top-container">
      <h1>Menu</h1>
      <!--search bar-->
      <div class="search-bar">
        <input type="text" class="type-search" placeholder="SEARCH" onkeyup="searchsomething(this)" id="tet_search"/>
      </div>
      <!--search bar-->

      <!--my order-->
      <div class="my-order" onclick="openCart()">
        <div class="nav-cart">
          <i class="fas fa-cart-shopping" style="color: #ea5b1e"></i>
          <div class="item-count" id="cartcount">
            <p>0</p>
          </div>
        </div>
        <div class="my-order-text">
          <p>My Order</p>
        </div>
      </div>
    </div>
    <!--my order-->

    <!--nav bar-->
    <nav class="category">
      <div class="nav-content">
        <ul>
          <li><a onclick="searchproduct('all')" href="#">All</a></li>
          <li><a onclick="searchproduct('stir-fry')" href="#">Stir-fry</a></li>
          <li><a onclick="searchproduct('curry')" href="#">Curry</a></li>
          <li><a onclick="searchproduct('spicy-salad')" href="#">Spicy-salad</a></li>
          <li><a onclick="searchproduct('soup')" href="#">Soup</a></li>
          <li><a onclick="searchproduct('drinks')" href="#">Drinks</a></li>
          <li><a onclick="searchproduct('fry')" href="#">Fry</a></li>
          <li><a onclick="searchproduct('snacks')" href="#">Snacks</a></li>
          <li><a onclick="searchproduct('dessert')" href="#">Dessert</a></li>
          <li><a onclick="searchproduct('other')" href="#">Other</a></li>
        </ul>
      </div>
    </nav>
    <!--nav bar-->

    <!--menu-->
    <div class="menu-container">
        <% Object.values(products).forEach(function(item,index) { %>
        <div class="menu-items ${product[<%= index %>].type}">
            <img class="menu-img" src="<%= item.img %>"/>
            <p style="font-size: 4vw"><%= item.name %></p>
            <div class="price">
                <p style="font-size: 3.5vw"><%= item.price %></p>
            </div>
        </div>
        <% }); %>
    <!--menu-->

    <!-- detail -->
    <div id="fooddetail" class="food-detail" style="display: none;">
      <div class="close">
        <i class="fas fa-times" onclick="closefooddetail()"></i>
      </div>
      <div class="food-img">
        <img id="mdd-img" src="images/stir-fried-thai-basil-with-minced-pork-topped-rice_1339-99876.avif" alt="stir-fry-basil">
      </div>
        <div class="title-box">
            <p id="name">Stir-fried basil with rice</p>
            <p id="price">50</p>
        </div>
        <div class="description-box">
            <p>Add-on</p>
            <ul id="addon">
                <!-- in js -->
            </ul>
        </div>
        <!-- <div>
          <input id="addnote" type="text">
        </div> -->
        <div class="button-box">
            <button id="place-order" onclick="addtocart()">Place Order</button>
        </div>
    </div>
    <!-- detail -->

    <!-- cart -->
    <div id="cart" class="cart" style="display: none;">
      <!-- HEAD CONTAINER -->
      <div class="head-container">
        <div class="head" onclick="closeCart()">
            <img src="images/close.png" alt="close" style="width: 20px; height: 20px;">
        </div>
      </div>

      <div class="head">
          <h1>My Ordered</h1>
      </div>

      <!-- ORDERED LIST -->
      <div class="ordered-container">
          <div id="mylist">
            <!-- JS -->
          </div>
      <div class="total-container">
          <div class="total">
              <h2>TOTAL</h2>
          </div>
          <div class="total-price">
              <h2>110.00</h2>
          </div>
        </div>
      <div class="pay-container">
          <h1 class="send">Send</h1>
      </div>
    </div>
    <!-- cart -->
    <!-- Game -->
  </body>
</html>
