@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
body {
    font-family: "Nunito", sans-serif;
}

.head-container{
    text-align: center;
    font-weight: bolder;
    /* background-color: yellow; */
    padding: 20px;
}

.container{
    font-size: 12px;
}

.first-line{
    display: flex;
    justify-content: space-between;
    /* background-color: pink; */
    margin-top: -18px;    
}
.line{
    margin-top: -9px;
}

.second-line{
    display: flex;
    justify-content: space-between;
    /* background-color: salmon; */
    margin-top: -18px;  
}

.leftRe{
    display: flex;
}

.third-line{
    display: flex;
    justify-content: space-between;
    /* background-color: darksalmon; */
    /* margin-top: -18px;   */
}

.total{
    font-weight: bolder;
}

.fourth-line{
    display: flex;
    justify-content: space-between;
    /* background-color: blueviolet; */
    margin-top: -18px;
}

.qr-pic{
    text-align: center;
    margin:60px;
}