@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.take-away{
    border: 3px solid black;
    text-align: center;
    border-radius: 10px;
    margin: 200px 75px 10px;
    padding: 30px;
    /* display: none; */
}

body{
    font-family: "Nunito", sans-serif;
    align-items: center;
    justify-content: center;
}

.dine-in{
    border: 3px solid black;
    text-align: center;
    border-radius: 10px;
    margin: 50px 75px 50px;
    padding: 30px;
    /* display: none; */
}

.send{
    display: inline-block;
    background-color: #d9d9d9;
    padding: 1px 30px;
    border-radius: 40px; /* Optionally, you can keep border-radius */
    cursor: pointer; 
    margin-left: 130px;
}

.send:hover{
    background-color: #ea5b1e;
    border: 3px solid white;
    color: white;
}

#id{
    color: #d9d9d9;
}

.take-away-afterclick{
    border: 3px solid white;
    background-color: #ea5b1e;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin: 200px 75px 10px;
    padding: 30px;
    /* display: none; */
}

.dine-in-afterclick{
    border: 3px solid white;
    background-color: #ea5b1e;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin: 50px 75px 50px;
    padding: 30px;
    /* display: none; */
}

#table{
    position: relative;
}