.food-detail {
    padding: 0;
    margin: 0;
  }
  
  .close {
    position: absolute;
    z-index: 2;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #eff0fa;
    color: #33363f;
    width: 40px; /* Adjust the width and height for the circle as needed */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .food-img {
    position: relative;
    margin: 0 auto;
    padding: 0;
  }
  
  .food-img img {
    width: 100%; /* Set the image width to 100% */
    height: auto; /* Maintain aspect ratio */
  }
  
  .title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title-box p {
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .description-box {
    margin-top: 1rem;
  }
  
  .description-box p {
    font-size: 1rem;
    font-weight: 600;
  }
  
  .description-box ul li {
    padding: 0;
    list-style: none;
    font-size: 1rem;
  }
  
  .button-box {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #ea5b1e;
    color: white;
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 30px 20px;
    border: none;
  }
  
  #place-order {
    padding: 10px 20px; /* Add padding for a comfortable button size */
  }
  