@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 3px;
  padding: 1px;
  font-family: "Nunito", sans-serif;
}

.top-container {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

h1 {
  font-size: 3vw;
  font-weight: 700;
  color: #ea5b1e;
}

/* search bar */
.search-bar {
  display: flex;
  width: 30%;
  padding: 5px;
}

.type-search {
  font-size: 1.5vw;
  padding: 5px;
  border: none;
  width: 100%;
  outline: none;
  border-radius: 35px;
  background-color: #d9d9d9;
  transition: 0.3s;
}

.type-search:focus {
  border: 1px solid #ea5b1e;
}
/* search-bar */

/* open/close */
.open-close {
  width: 10%; /* Adjust the width as needed */
  height: 50%; /* Adjust the height as needed */
  background-color: green; /* Initially red */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Text color */
}

.open-close:hover {
  background-color: red; /* Adjust the hover color as needed */
}

#button-text {
  font-size: 2vw; /* Adjust the font size as needed */
}
/* open/close */

.main-container {
    background-color: #D9D9D9;
}
/* category */


/* edit-button */
.edit-button {
    background-color: #ea5b1e;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .edit-button:hover {
    background-color: #ff7c4d; /* Adjust the hover color as needed */
  }
  /* edit-button */

.sum-container{
    background-color: white;
    width: 344px;
    height: 701px;
    margin: 8px;
    border-radius: 20px;
}

.table-no h1{
    font-size: 25px;
}

.customer-detail{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.customer-detail-left{
    display: flex;
    font-size: 12px;
    /* background-color: aquamarine; */
}

.menubox{
    display: flex;
    justify-content: space-between;
    /* background-color: #ff7c4d; */
    font-size: 14px;
}

.menu-name{
    font-weight:bolder;
}

.add-on{
    font-size: 10px;
    margin: -10px 8px;
}

.left{
    margin: -8px 1px;
}

.done{
    background-color: #34b829;
    color: white;
    padding: 15px ;
    border-radius: 10px;
    text-align: center;
    margin-top: 430px;
}

.cover-box{
    display: flex;
}

.footer a i{
  padding: 10px;
  font-size: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.footer{
  display: flex;
  justify-content: space-around;
}